__pycache__/
*.py[cod]
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.zip
.env
secret.txt
timestamps.json
.vscode/
.DS_Store__pycache__/
*.py[cod]
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.zip
.env
secret.txt
timestamps.json
.vscode/
.DS_Store